.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background:snow ;
    margin-top: 3.5rem;
}

.cardContainer{
height: 80vh;
display: flex;
border-radius: 10px;
overflow: hidden;
width: 80vw;

background: white;
box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
}

.cardContainer_left_heading{
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    
}

.inputRow{
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.inputField{
    border-radius: 10px;
    padding:1.3rem 0.8rem ;
    outline:none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
    
}
.inputContainer{
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: auto  ;
    gap: 1rem;
 

}


/* button */
.buttonWithOutline{
    padding: .8rem 1.6rem;
    background: silver;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}








/* ////////////////////////////////////////////////////////////////////////////////////// */
.cardContainer_right{
    flex: 0.4;
    background: #014686;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1.3rem;
    padding-inline: 1.3rem;
}













/* //////////////////media   query */

@media only screen and (max-width: 600px){

.cardContainer{
  flex-direction: column;
}

}